* {
    box-sizing: border-box;
}

body {
    font: 400 14px/1 'PT Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.container {
    max-width: 69.625rem;
    padding: 0 0.938rem ;
    margin: auto;
}

.header {
    padding: 2.5rem 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.main-header-nav {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 4.125rem;
}

.main-header-nav a + a,
.info-header-nav a + a {
    margin-left: 1.875rem;
}

.info-header-nav {
    color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
}

.inner {
    height: 100vh;
    background: linear-gradient(89.85deg, #23196F 0.13%, #180D5B 99.88%);
    padding-top: 6.625rem;
}